.menu{
    border: 2px solid red;
    width: 60%;
    height: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}









@media only screen and (max-width: 600px)  and (orientation: landscape) {
    .hero-section,
    .restaurant{
        width: 100%;
        height: 100%;
    }
}
@media only screen and (max-width: 600px)  and (orientation: portrait) {
    .hero-section,
    .restaurant{
        width: 100%;
    }
}

@media only screen and (min-width: 601px)  and (orientation: landscape) {
    .hero-section,
    .restaurant{
        width: 100%;
    }
}
@media only screen and (min-width: 601px)  and (orientation: portrait) {
    .hero-section,
    .restaurant{
        width: 100%;
    }
}

@media only screen and (min-width: 768px)  and (orientation: landscape) {
    .hero-section,
    .restaurant{
        width: 100%;
    }
}
@media only screen and (min-width: 768px)  and (orientation: portrait) {
    .hero-section,
    .restaurant{
        width: 100%;
    }
}

@media only screen and (min-width: 992px)  and (orientation: landscape) {
    .hero-section,
    .restaurant{
        width: 100%;
    }
}
@media only screen and (min-width: 992px)  and (orientation: portrait) {
    .hero-section,
    .restaurant{
        width: 100%;
    }
}

@media only screen and (min-width: 1200px)  and (orientation: landscape) {
    .hero-section,
    .restaurant{
        width: 100%;
    }
}
@media only screen and (min-width: 1200px)  and (orientation: portrait) {
    .hero-section,
    .restaurant{
        width: 100%;
    }
}