.restaurant{
    width: 100%; 
    padding: 100px 0;
    margin: 0 auto;
}
.main-section{
    width: 100%;
}

.hero-section{
    display: flex;
    margin: 0 10px;
}

#hero-section-1{
    display: flex;
    margin: auto;
    padding: 10px;
    width: 320px;
    /* height: 50%;  */
    border: solid 1px black;
}

.menu, .sales, .gallary, .logo{
    padding-right: 100px;
}

#second-section{ 
    margin-top: 10px;
    margin-bottom: 10px;
    height: 500px;
    box-shadow: 0px 0px 5px 5px #383737;
}

p, h4{
    margin: auto;
    text-align: center;
    width: 800px;
    padding: 10px;
}

#tryout{ /* center this */ 
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    
}
.one, .two, .three{
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 5px 5px #383737;

}

#footer-section{
    background-color: rgb(44, 42, 42);
    color: white;
    margin-top: 10px;
}
.footer-text{
    padding-bottom: 20px;
    padding-top: 20px;
}
.socials{
    width: 100%; /* Fix */ 
    display: flex;
    padding-right: 100px;
    margin: auto;
    padding: 10px;
    width: 400px;
    height: 50%; 
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: space-around;
    font-size: x-large;
    color: white;
}

.insta, .tik, .face{
    padding-right: 100px;
}

.front{
    height: 500px; 
    width: 1331px; 
}

a:link{
    color: black;
}
a:visited{
    color: black;
}



/* TODO: Remove the colours of the widths */ 
@media only screen and (max-width: 600px)  and (orientation: landscape) {
    .hero-section,
    .restaurant{
        width: 100%;
        height: 100%;
        background-color: aqua;
    }
}
@media only screen and (max-width: 600px)  and (orientation: portrait) {
    .hero-section,
    .restaurant{
        width: 100%;
        background-color: rgba(0, 255, 255, 0.781);
    }
}

@media only screen and (min-width: 601px)  and (orientation: landscape) {
    .hero-section,
    .restaurant{
        width: 100%;
        background-color: orange;
    }
}
@media only screen and (min-width: 601px)  and (orientation: portrait) {
    .hero-section,
    .restaurant{
        width: 100%;
        background-color: rgba(255, 166, 0, 0.836);
    }
}

@media only screen and (min-width: 768px)  and (orientation: landscape) {
    .hero-section,
    .restaurant{
        width: 100%;
        background-color: pink;
    }
}
@media only screen and (min-width: 768px)  and (orientation: portrait) {
    .hero-section,
    .restaurant{
        width: 100%;
        background-color: rgba(255, 192, 203, 0.699);
    }
}

@media only screen and (min-width: 992px)  and (orientation: landscape) {
    .hero-section,
    .restaurant{
        width: 100%;
        background-color: purple;
    }
}
@media only screen and (min-width: 992px)  and (orientation: portrait) {
    .hero-section,
    .restaurant{
        width: 100%;
        background-color: rgba(128, 0, 128, 0.808);
    }
}